.serviceType{
    margin-left: 5%;
}
.button{ 
    margin-left: 5px;
}

footer{
    font-size: 15px;
    grid-column: span 12;
    background-color: #1ECBE1;
    text-align: center;
    border-radius: 5rem;
    margin-top: 1%;
    border: 2px solid #1ECBE1;
    padding-top: 2px;
}
